name: Build App
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "59 23 1 * *"
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Decode Keystore
        id: keystore
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: 'dev_keystore.jks'
          encodedString: ${{ secrets.SIGNING_KEYSTORE }}
      - name: Setup JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - run: flutter pub get
#      - run: dart format --set-exit-if-changed .
      - run: flutter analyze .
      - name: assembleRelease
        run: flutter build apk --release --split-per-abi
        env:
          SIGNING_KEY_STORE: ${{ steps.keystore.outputs.filePath }}
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}

      - uses: actions/upload-artifact@v6
        with:
          name: tasks-arm64-v8a-release
          path: build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
      - uses: actions/upload-artifact@v6
        with:
          name: tasks-armeabi-v7a-release
          path: build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
      - uses: actions/upload-artifact@v6
        with:
          name: tasks-x86_64-release
          path: build/app/outputs/flutter-apk/app-x86_64-release.apk
